@import url("../style.css");

.faqSection h1{
    margin-top: 40%;
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

#faqTextSection{
    background-color: #D0F0D2;
    padding-top: 5%;
    padding-bottom: 5%;
}

#faqTextSection h2{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    font-weight: 100;
    font-family: Cormorant;
    text-align: center;
}

.questionSection{
    background-color: #E6F2E6;
    border-radius: 7px;
    border: solid #DBC197;
    border-width: 2px;
    margin: 10%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    
}

.questionSection img{
    width: 7%;
}

.questionSection p{
    font-family: Cormorant;
    font-size: 20px;
}

.answerSection{
    background-color: #d0f0d2;
    border-radius: 7px;
    border: solid #DBC197;
    border-width: 2px;
    margin: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    display: block; 
    font-family: Cormorant;
    font-size: 20px;
    margin-bottom: 6%;
}

.hideAnswer{
    display: none;
}


@media screen and (min-width: 992px) {

    .faqSection h1{
        margin-top: 15%;
        font-size: 70px;
    }
    
    #faqTextSection h2{
        font-size: 25px;
    }

    #faqTextSection{
        margin-bottom: 5%;
    }

    .questionSection{
        border-width: 4px;
        margin: 2% 10%;
        display: flex;
        justify-content: space-between;
    }
    
    .questionSection:hover{
        background-color: #74CA98;
        cursor: pointer;
    }

    .questionSection img{
        width: 3%;
    }
    
    .questionSection p{
        font-size: 25px;
    }
    
    .answerSection{
        font-size: 25px;
        border-width: 4px;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0%;
        display: block; 
    }
    
    .hideAnswer{
        display: none;
    }

}