@import url("../style.css");

/* ContactForm */

#contactMeH1{
  margin-top: 40%;
  font-family: seravek-web, sans-serif;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

.contactSection{
  background-color: #E6F2E6;
  padding: 5%;
  margin-top: 10% !important;
  margin: 5%;
  border-radius: 7px;
  border: solid #DBC197;
  border-width: 2px;
}

.contactSection h2{
  font-family: seravek-web, sans-serif;
  font-weight: 100;
  font-size: 35px;
  text-align: center;
}

.contactNeeliyaPhoto{
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin-left: 2%;
}

.contactSection div{
  display: flex;
  align-items: center;    
  font-family: Cormorant;
  font-size: 20px; 
}

.contactForm{
  display: flex;
  flex-direction: column;
  font-family: Cormorant;
  font-size: 20px;
}

.contactForm label{
  margin-top: 5%; 
}

.contactForm input{
  height: 7vw; 
  border-radius: 7px;
  border-color: black;
  border-width: 1px;
}
.contactForm textarea{
  border-radius: 7px;
  border-color: black;
  border-width: 1px;
}

.contactForm .btn{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.contactForm .submitBtn{
  border: 0;
}



#desktopPContact{
  display: none;
}

#message{
  font-size: 20px;
}

/* Checkbox */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer .checkPrivacy {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1px;
  width: 1px;
  left: 10px;
  top: 25px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark {
  background-color: #4D987D;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container{
  display: flex;
  align-items: center;
}


@media screen and (min-width: 992px) {
  /* ContactForm */

  #contactMeH1{
    margin-top: 15%;
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 70px;
    text-align: center;
  }

  .contactSection{
    padding: 5%;
    margin-top: 0% !important;
    margin: 5%;
    border-width: 4px;
    margin-left: 15%;
    margin-right: 15%;
  }

  .contactSection h2{
    font-size: 35px;
    margin-top: 0;
  }

  .contactNeeliyaPhoto{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin-left: 2%;
  }

  .contactSection div{ 
    font-size: 25px; 
    display: flex;
    justify-content: center;
    margin: 0% 10%;
  }

  #mobilePContact{
    display: none;
  }

  #desktopPContact{
    display: unset;
  }

  .contactForm{
    font-size: 25px;
    margin: 0% 5%;
  }

  .contactForm label{
    margin-top: 3%; 
  }

  .contactForm input{
    height: 2vw; 
    font-size: 25px;
  }

  #message{
    font-size: 25px;
  }

  .contactForm .btn{
    padding-left: 10%;
    padding-right: 10%; 
    border: 0;
  }

  .checkmark {
    height: 35px;
    width: 35px;
    top: 20px;
  }

  .checkboxContainer .checkmark:after {
    left: 13px;
    top: 3px;
    width: 8px;
    height: 20px;
  }

  .checkboxContainer{
    margin-bottom: 100px;
    padding-right: 2%;
  }
}