@import url("../style.css");

html{
    scroll-behavior: smooth;
}

body{
    background-color: #D0F0D2;
}

#testSection h1{
    margin-top: 40%;
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.questions{
    display: flex;
    justify-content: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
}


/* Gender section */

#genderBox{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.genderCheck{
    display: flex;
    align-items: center;
}

.man{
    display: flex;
    justify-content: center;
}

.woman{
    display: flex;
    justify-content: center;
    
}

.genderCheck p{
    font-size: 20px!important;
}

#gender p{
    margin: 10%;
    text-align: center;
    font-family: Cormorant;
    font-size: 15px;
}


/* Weight, age, height section */

.facts{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    scroll-margin-top: 38vw;
}

.facts label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.facts input{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}



/* Activity */

.activity{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 45vw;
}

.activity label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

#rangeP{
    display: flex;
    justify-content: space-around;
    font-family: Cormorant;
    font-size: 20px;
}

#rangeP p{
    margin-bottom: 0;
}

#points{
    width: 80vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#activityExtra{
    font-size: 20px;
    font-weight: 700;
}

.activity #activ{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #4D987D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10%;
    margin-top: 3%;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  } 


/* Wishing weight */

.wishWeight{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 55vw;
}

.wishWeight label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.wishWeight input{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
}

.dontKnowCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.dontKnowCheck p{
    font-family: Cormorant;
    font-size: 20px;
}


/* Motivation */

.motivation{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 45vw;
}

.motivation label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.motivation input{
    margin-bottom: 20%;
}


/* Allergy */

.allergy{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 40vw;
}

.allergy label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.allergy input{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
}

/* Diseases */

.diseases{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 40vw;
}

.diseases label{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.diseases input{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
}




.submitBtn{
    border: 0;
}

#arrowUp{
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 3;
}



/* Checkbox */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer .checkPrivacy {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1px;
    width: 1px;
    left: 10px;
    top: 25px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark {
    background-color: #4D987D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container{
    display: flex;
    align-items: center;
}



/* Confirm informations */

.confirmSection{
    margin-top: 100%;
    scroll-margin-top: 35vw;
}

.confirmSection h2{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

.factsSection{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cormorant;
    font-size: 20px;
}

.facts1{
    background-color: #E6F2E6;
}

.facts2{
    background-color: white;
}

.topic{
    font-weight: 900;
    margin-bottom: 0%
}

.edit{
    display: flex;
    align-items: flex-start;
    margin-top: 2%;
}

.edit a {
    text-decoration: none;
    color: black;
    margin: 0;

}

.editIcon{
    width: 5vw;
    height: 5vw;
}

.confirmBtn{
    margin-top: 10%;
}



/* Last Section - confirm email and number */

#lastConfirmSection{
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    scroll-margin-top: 30vw;
}

#lastConfirmSection h2{
    text-align: center;
    font-family: Cormorant;
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 5%;
}

#lastConfirmSection label, .errorMessage{
    text-align: center;
    font-family: Cormorant;
    font-size: 20px; 
    font-weight: 100;
    margin-bottom: 2%;
}

.errorMessage{
    color: red;
    margin: 0 auto !important;
    display: none;
}

#lastConfirmSection input{
    height: 10vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.confirmCheck{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.confirmCheck p{
    font-family: Cormorant;
    font-size: 20px; 
    font-weight: 100;
}



footer{
    background-color: white;
}


@media screen and (min-width: 992px) {
    #testSection h1{
        margin-top: 10%;
        font-size: 70px;
    }
    
    .questions{
        font-size: 30px; 
        font-weight: 700;
    }
    
    
    /* Gender section */
    
    #genderBox{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0%;
    }
    
    .genderCheck p{
        font-size: 25px!important;
    }
    
    #gender p{
        margin: 2%;
        font-size: 20px;
    }

    .genderImg{
        width: 10vw;
    }


    /* Weight, age, height section */

    .facts{
        margin-top: 100%;
        display: flex;
        flex-direction: column;
        scroll-margin-top: 13vw;
    }

    .facts label{
        text-align: center;
        font-family: Cormorant;
        font-size: 30px; 
        font-weight: 700;
        margin-bottom: 1%;
    }

    .facts input{
        font-size: 25px;
        height: 2vw; 
        margin-left: 40%;
        margin-right: 40%;
        margin-bottom: 3%;
    }

    /* Activity */

    .activity{
        margin-top: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        scroll-margin-top: 12vw;
    }

    .activity label{
        font-size: 30px; 
        margin-bottom: 5%;
    }

    #rangeP{
        font-size: 25px;
    }

    #rangeP p{
        margin-bottom: 0;
    }

    #points{
        width: 70vw;
    }

    #activityExtra{
        font-size: 25px;
        margin-bottom: 1%;
    }

    .activity #activ{
        height: 2vw;
        font-size: 25px; 
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 5%;
    }

    .slider {
        margin-bottom: 5%;
        margin-top: 2%;
    }
 
    /* Wishing weight */

    .wishWeight{
        scroll-margin-top: 18vw;
    }

    .wishWeight label{
        font-size: 30px; 
        font-weight: 700;
        margin-bottom: 5%;
    }

    .wishWeight input{
        height: 2vw; 
        margin-left: 40%;
        margin-right: 40%;
        font-size: 25px;
    }

    .dontKnowCheck{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4%;
    }

    .dontKnowCheck p{
        font-size: 25px;
    }


    /* Motivation */

    .motivation{
        scroll-margin-top: 16vw;
    }

    .motivation input{
        margin-bottom: 10%;
    }


    /* Allergy */

    .allergy{
        scroll-margin-top: 15vw;
    }

    .allergy input{
        height: 2vw; 
        font-size: 25px;
        margin-left: 30%;
        margin-right: 30%;
    }

    /* Diseases */

    #diseasesContainer{
        scroll-margin-top: 15vw;
    }


    .diseases input{
        height: 2vw; 
        font-size: 25px;
        margin-left: 30%;
        margin-right: 30%;
    }

    .noCheck{
    top: 6px;
    }


    /* Checkbox */

    .centerCheck {
        margin-top: 3vw;    
    }


    /* Confirm informations */

    .confirmSection{
        scroll-margin-top: 10vw;
    }
    .factsSection{
        font-size: 25px;
    }

    .edit{
        display: flex;
        align-items: flex-start;
        margin-top: 2%;
    }

    .editIcon{
        width: 1.5vw;
        height: 1.5vw;
        padding-left: 10%;
    }

    .confirmBtn{
        margin-top: 5%;
    }

    /* Last Section - confirm email and number */

    #lastConfirmSection{
        scroll-margin-top: 10vw;
    }

    #lastConfirmSection label, .errorMessage{
        font-size: 24px; 
        font-weight: 100;
        margin-bottom: 0.5%;
        text-align: left;
        margin-left: 20.2%;
    }

    #lastConfirmSection input{
        height: 2vw; 
        font-size: 25px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 2%;
    }

    .confirmCheck{
        margin-left: 30%;
        margin-right: 25%;
        
    }

    .confirmCheck p{
        font-size: 25px; 
    }

    .lastCheck{
        top: -10px;
    }


}