@import url("../style.css");

#whatIsHygieia{
    margin-top: 40%;
}

#whatIsHygieia h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.greekPhotos{
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

#photoDiv{
    display: flex;
    justify-content: space-between;
}

#hygieiaText{
    background-color: #D0F0D2;
    font-family: Cormorant;
    font-size: 20px;
    padding: 5%;
}

.desktopPhotos{
    display: none;
}



/* Vision box */

#visionBox{
    border-radius: 7px;
    padding: 5%;
    box-shadow: 0 0 10px 10px #DBC197;
    margin: 10%;
    margin-top: 25%;
}

#visionBox h1{
    text-align: center;
    font-family: seravek-web, sans-serif;
    font-weight: 100;
    font-size: 35px;
}

#visionBox p{
    font-family: Cormorant;
    font-size: 20px;
}

/* Instagram post section */

#instaSection{
    text-align: center;
    margin-top: 25%;
}

#instaIconSection{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0%;
    width: 10vw;
    height: 10vw;
}

#instaSection h2{ 
    font-family: Cormorant;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 2px;
    margin-top: 2%;
}

#bigHygieiaSome{ 
    font-family: Cormorant;
    font-size: 35px !important;
    font-weight: 100;
    margin-top: 0;
}

#feedContainer{
    font-size: 0;
    margin-top: 2%;
}

.instaA:hover{
    cursor: pointer;
}

#feedContainer a:nth-child(4),
#feedContainer a:nth-child(5),
#feedContainer a:nth-child(6),
#feedContainer a:nth-child(7),
#feedContainer a:nth-child(8),
#feedContainer a:nth-child(9),
#feedContainer a:nth-child(10){
    display: none;
} 


.instaImg{
    width: 33.33vw;
    height: 33.33vw;
    object-fit: cover;
    margin: 0;
}


/* Photo banner */

#photoBanner{
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

.photoBanner{
    width: 32.5vw;
    font-size: 0;
}



@media screen and (min-width: 992px) {
    #whatIsHygieia{
        margin-top: 15%;
    }
    
    #whatIsHygieia h1{
        font-size: 70px;
    }
    
    #photoDiv{
        display: none;
    }

    .desktopPhotos{
        display: block;
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
    }

    #hygieiaText{
        display: flex;
        justify-content: space-around;
        font-size: 25px;  
        padding: 2%;
    }

    #hygieiaText p{
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
    }


    /* Vision box */

    #visionBox{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    #visionBox h1{
        font-size: 35px;
        margin-top: 0;
    }

    #visionBox p{
        font-size: 25px;
        text-align: justify;
    }


    /* Instagram post section */

    #instaSection{
        text-align: center;
        margin-top: 15%;
    }

    #instaIconSection{
        width: 5vw;
        height: 5vw;
    }

    #instaSection h2{ 
        font-family: Cormorant;
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 2px;
    }

    #bigHygieiaSome{ 
        font-family: Cormorant;
        font-size: 45px !important;
        font-weight: 100;
        margin-top: 0;
    }

    #feedContainer{
        font-size: 0;
        margin-top: 2%;
    }

    .instaA:hover{
        cursor: pointer;
    }

    #feedContainer a:nth-child(4),
    #feedContainer a:nth-child(5),
    #feedContainer a:nth-child(6){
        display: unset;
    }
    #feedContainer a:nth-child(6),
    #feedContainer a:nth-child(7),
    #feedContainer a:nth-child(8),
    #feedContainer a:nth-child(9),
    #feedContainer a:nth-child(10){
        display: none;
    } 


    .instaImg{
        width: 20%;
        height: 20vw;
        object-fit: cover;
        margin: 0;
    }


    /* Photo banner */

    #photoBanner{
        display: flex;
        justify-content: space-between;
        margin-top: 15%;
    }

    .photoBanner{
        width: 32.5vw;
        font-size: 0;
    }

}