@import url("../style.css");

html{
    scroll-behavior: smooth;
}

/* Sådan fungerer det */

#packageFirstSection{
    margin-top: 40%;
}

#packageFirstSection h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding-top: 5%;
}

#howDoesItWorkSection{
    background-color: #D0F0D2;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#howDoesItWorkSection h2{
    font-family: seravek-web, sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    padding-top: 10%;
}

#howDoesItWorkSection p{
    font-family: Cormorant;
    font-size: 20px;
    padding: 5%;
}



/* Her starter forløb boksene */

#packageSection{
    margin-top: 25%;
}

.packageBox{
    background-color: #E6F2E6;
    margin: 10%;
    border-radius: 7px;
    border: solid #DBC197;
    border-width: 2px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.packageBox .btn{
    margin-left: auto;
    margin-right: auto;
}

.packageBox h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

.pointPackageSection{
    display: flex;
    font-family: Cormorant;
    font-size: 20px;
    padding: 0 8%; 
}

.packagePoint{
    width: 15%;
    margin-right: 2%;
}

.price{
    text-align: center;
    font-size: 25px;
    font-family: Cormorant;
    margin: 0%;
}



/* Package test section */

#testSection{
    background-color: #D0F0D2;
    text-align: center;
    padding: 5%;
    padding-bottom: 10%;
    margin-top: 25%;
}

#testSection h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 35px;
}

#testSection p{
    font-family: Cormorant;
    font-size: 20px;
}





/* ContactForm */

.contactSection{
    background-color: #E6F2E6;
    padding: 5%;
    margin-top: 25% !important;
    margin: 5%;
    border-radius: 7px;
    border: solid #DBC197;
    border-width: 2px;    
    scroll-margin-top: 38vw;
}

.contactSection h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

.contactNeeliyaPhoto{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin-left: 2%;
}

.contactSection div{
    display: flex;
    align-items: center;    
    font-family: Cormorant;
    font-size: 20px; 
}

#desktopPContact{
    display: none;
}


.contactForm{
    display: flex;
    flex-direction: column;
    font-family: Cormorant;
    font-size: 20px;
}

.contactForm label{
    margin-top: 5%; 
}

.contactForm input{
    height: 7vw; 
    border-radius: 7px;
    border-color: black;
    border-width: 1px;
    font-size: 20px;
}

#message{
    font-size: 20px;
}

.contactForm .btn{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%; 
    border: 0;
}


/* Checkbox */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkboxContainer .checkPrivacy {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1px;
    width: 1px;
    left: 10px;
    top: 25px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark {
    background-color: #4D987D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer .checkPrivacy:checked ~ .checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container{
    display: flex;
    align-items: center;
}

  

/* Desktop */
@media screen and (min-width: 992px) {
    /* Sådan fungerer det */

    #packageFirstSection{
        margin-top: 15%;
    }

    #packageFirstSection h1{
        font-size: 70px;
        padding-top: 0%;
    }

    #howDoesItWorkSection h2{
        font-size: 35px;
        padding-top: 5%;
    }

    #howDoesItWorkSection p{
        font-size: 25px;
        padding: 0%;
        text-align: center;
    }


    /* Her starter forløb boksene */

    #packageSection{
        display: flex;
        margin-top: 15%;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }

    .packageBox{
        margin: 2%;
        border-width: 4px;
        padding-bottom: 15vw;
        min-width: 25vw;
        position: relative;
        min-height: 0vw;
    }


    .packageBox h1{
        font-family: seravek-web, sans-serif;
        font-style: normal;
        font-size: 35px;
        text-align: center;
    }

    .pointPackageSection{
        display: flex;
        font-family: Cormorant;
        font-size: 25px;
        padding: 0 8%; 
        align-items: center;
    }

    .packagePoint{
        width: 2vw;
        height: 2vw;
        margin-right: 2%;
    }

    .contactBtn{
        position: absolute;
        bottom: 5vw;
        left: 4vw;
    }


    /* Package test section */

    #testSection{
        margin-top: 15%;
        padding: 5%;
        padding-bottom: 5%;
    }

    #testSection h1{
        font-size: 35px;
        margin-top: 0%;
    }

    #testSection p{
        font-size: 25px;
    }

    /* ContactForm */

    .contactSection{
        padding: 5%;
        margin-top: 15% !important;
        margin: 5%;
        border-width: 4px;
        margin-left: 15%;
        margin-right: 15%
    }

    .contactSection h1{
        font-size: 35px;
        margin-top: 0;
    }

    .contactNeeliyaPhoto{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        margin-left: 2%;
    }

    .contactSection div{ 
        font-size: 25px; 
        display: flex;
        justify-content: center;
        margin: 0% 10%;
    }

    #mobilePContact{
        display: none;
    }

    #desktopPContact{
        display: unset;
    }

    .contactForm{
        font-size: 25px;
        margin: 0% 5%;
    }

    .contactForm label{
        margin-top: 3%; 
    }

    .contactForm input{
        height: 2vw; 
        font-size: 25px;
    }

    #message{
        font-size: 25px;
    }

    .contactForm .btn{
        padding-left: 10%;
        padding-right: 10%; 
        border: 0;
    }

    .checkmark {
        height: 35px;
        width: 35px;
    }

    .checkboxContainer .checkmark:after {
        left: 13px;
        top: 3px;
        width: 8px;
        height: 20px;
    }

    .checkboxContainer{
        margin-bottom: 100px;
        padding-right: 2%;
    }

}




@media screen and (min-width: 1200px) {
    .contactBtn{
        left: 6vw;
    }
}

@media screen and (min-width: 1500px) {
    .contactBtn{
        left: 6.5vw;
    }

    .packageBox{
        padding-bottom: 10vw;
    }
}

@media screen and (min-width: 1800px) {
    .contactBtn{
        left: 7vw;
    }
    
    .packageBox{
        padding-bottom: 10vw;
    }
}

@media screen and (min-width: 2000px) {
    .packageBox{
        padding-bottom: 10vw;
    }

    .contactBtn{
        left: 7.5vw;
    }
}

@media screen and (min-width: 2200px) {
    .contactBtn{
        left: 8vw;
    }

    .packageBox{
        padding-bottom: 3vw;
        min-height: 30vw;
    }
}